<footer>
    <div class="footer_container">
        <h2 class="footer_title">- get in touch with us -</h2>
        <div class="footer_content_flex">
            <p class="footer_text">Maecenas faucibus molli interdum. Cras mattis consectetur purus sitor amet sed donec malesuada ullamcorper odio. <span>Curabitur blandit tempus porttitor vollisky inceptos mollisestor.</span></p>
            <div class="footer_social_flex">
                <img src="images/icons/RSS-icon.png" alt="">
                <img src="images/icons/Facebook-icon.png" alt="">
                <img src="images/icons/Twitter-icon.png" alt="">
                <img src="images/icons/Dribbble-icon.png" alt="">
                <img src="images/icons/Pinterest-icon.png" alt="">
            </div>
            <div class="footer_description_flex">
                <span class="footer_description">Moonshine St. 14-05 Light City</span>
                <span class="footer_description">T. +00 (123) 456 78 90</span>
                <span class="footer_description">first.last@email.com</span>
            </div>
        </div>
    </div>
</footer>