<header class="header_container">
    <div class="burger_for_hidden">
        <div class="burger_menu">
            <img src="images/burger/menu_button.svg" alt="">
        </div>
        <ul class="burger_list">
            <li class="burger_cell cell__active">Home</li>
            <li class="burger_cell">about us</li>
            <li class="burger_cell">our journal</li>
            <li class="burger_cell">projects</li>
            <li class="burger_cell">news</li>
            <li class="burger_cell">features</li>
            <li class="burger_cell">contact</li>
        </ul>
    </div>
    <ul class="open_menu">
        <li class="menu_cell cell__active">Home</li>
        <li class="menu_cell">about us</li>
        <li class="menu_cell">our journal</li>
        <li class="menu_cell">projects</li>
        <li class="menu_cell">news</li>
        <li class="menu_cell">features</li>
        <li class="menu_cell">contact</li>
    </ul>
</header>