<section class="container">
    <img class="title_img" src="images/title_img/intro-1.png" alt="Title image">   
</section>

<section class="content_container">
    <div class="container_for_centering">
        <h1>- our Recent posts</h1>
        <div class="general_post_flex">
            <div class="post2_flex">
                <div class="post_flex">
                    <img class="post_image" src="images/posts/post-1.png" alt="Post 1">
                    <div class="post_description_flex">
                        <h3 class="post_title">Aenean Adipiscing Etiam Vestibulum</h3>
                        <span class="post_description">Photography, Journal   /   9 Comments</span>
                        <p class="post_paragraph">Etiam porta sem malesuada euismod. Aenean leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</p>
                    </div>
                </div>
                <div class="post_flex">
                    <img class="post_image" src="images/posts/post-2.png" alt="Post 2">
                    <div class="post_description_flex">
                        <h3 class="post_title">Aenean Adipiscing Etiam Vestibulum</h3>
                        <span class="post_description">Photography, Journal   /   9 Comments</span>
                        <p class="post_paragraph">Etiam porta sem malesuada euismod. Aenean leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</p>
                    </div>
                </div>
            </div>
            <div class="post2_flex">
                <div class="post_flex">
                    <img class="post_image" src="images/posts/post-3.png" alt="Post 3">
                    <div class="post_description_flex">
                        <h3 class="post_title">Aenean Adipiscing Etiam Vestibulum</h3>
                        <span class="post_description">Photography, Journal   /   9 Comments</span>
                        <p class="post_paragraph">Etiam porta sem malesuada euismod. Aenean leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</p>
                    </div>
                </div>
                <div class="post_flex post__4">
                    <img class="post_image" src="images/posts/post-4.png" alt="Post 4">
                    <div class="post_description_flex">
                        <h3 class="post_title">Aenean Adipiscing Etiam Vestibulum</h3>
                        <span class="post_description">Photography, Journal   /   9 Comments</span>
                        <p class="post_paragraph">Etiam porta sem malesuada euismod. Aenean leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="insta_container">
    <div class="insta_title_flex">
        <h2 class="insta_title1">- Last Instagram Shot</h2>
        <h2 class="insta_title2">go to our instagram page -</h2>
    </div>
    <div class="insta_post_flex">        
        <img class="insta_post" src="images/insta/insta1.png" alt="Insta-1">
        <img class="insta_post insta2__3" src="images/insta/insta2.png" alt="Insta-2">
        <img class="insta_post insta2__3" src="images/insta/insta3.png" alt="Insta-3">
        <img class="insta_post insta__last" src="images/insta/insta4.png" alt="Insta-4">
    </div>
</section>